<div class="container jumbotron" id="main-page">
  <div class="row">
    <div class="col-md-8">
      <div class="center jumbotron" id="main-text">
        <div class="well first-page" >
        <h2>Never loose, whats on your mind</h2>
        <h3>A tool to store all your thoughts for later.... </h3><br/><p class="site-info" >
        You can save it in "Home" for everyone out there to see. Or in "Personal" for just you . Can have Diaries, Notes and
        if you want more , add more. You can also create groups and share thoughts among members. Quickthoughts
        provides a bash script which allows you to add everything from the terminal itself. Enjoy...
      </p>
      </div>
    </div>
  </div>
    <section class="signup-form">
  <div class="col-md-4 center jumbotron">
  <section class="signup-text">
      <%= render 'shared/signup_form'  %>
  </section>

    </div>
    </section>
    </div>
