<% provide(:title,"home") %>
<div class="container jumbotron" id="main-page">
  <div class="row">
    <div class="col-md-8">
      <div class="center jumbotron" id="main-text">
        <h1>Discuss, Debate, Decide</h1>
        <h2>You can ask questions, Post pictures, Post answers, Follow friends.... </h2><br/><h2 style="margin-top: -20px">
        his website is developed on Ruby on Rails Platform. Highly encourage you to checkout all the features
        and give me your opinions
      </h2>
    </div>
  </div>
    <section class="signup-form">
  <div class="col-md-4 center jumbotron">
      <%= render 'shared/signup_form'  %>

    </div>
    </section>
    </div>
