<li class="user_list_item">
<span class="user_name">
<span> <%= link_to "#{user.name.capitalize}",user_path(user) %></span3>
</span>
<span class="user_about">
<span> <%=  user.about %></span>
</span>
</li>
