  <div class="container-fluid login-home">
    <div class="row profile">
      <div class="col-md-2">
        <%= render 'shared/sidebar'  %>
      </div>
      <div class="col-md-6 thought-feed">
      <%= render 'users/user_thoughts_feed'  %>
      </div>
      <span class="col-md-3 thought-column">
      <%= render 'shared/thoughts_form'  %>
      </span>
    </div>
  </div>


<script >
  window.controller_in = "sad"
</script>
