<li class="user_list_item"><span>
<%= image_tag(user.picture? ? user.picture.url : asset_path("default.jpg"), class: "img-responsive ",
 alt: user.name,size: "20x20") %>
  </span>
  <span class="user_name">
    <div> <%= link_to "#{user.name.capitalize}",user_path(user) %></div>

    </span>
</li>
