// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.first-page{
  margin: 0 -20px -20px -30px;
  padding-left: -10px;
  line-height: 15px;
// background-color: #DEECF4;
}
.site-info{
  font-size: 4px;
  margin-top: -20px;
  line-height: 30px;
  color: #6A5AB3;
}

// main page
.main-body{
  background-color: #ebeef4;
  margin-top: -50px ;
  // padding-top: -35px;
}
#main-text {
  margin-top: -30px;
  margin-left: -5 0px;
}
#main-page {
  // margin-left: -20px;
  // width: 113%;
  // margin-bottom: 50px;
  // height: 20%;
  margin-top: 50px;
  .row{
    margin-top: -20px;
  }
}

.signup-form .jumbotron {
  background-color: #D4F0D1;
}
.signup-text{
  margin-top: -30px;
}
/* forms */

.submit-button {
  margin-top: 10px;
}
// login home
.login-home{
  margin-top: -10px;
}
/* Profile container */
.profile {
  margin: 40px 0 ;
  // background: #CDDAE2;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 10px 10px 0;
  background-image:  url(asset-path("side.jpg"));
  background-size: 100% 100%;
  background-repeat: no-repeat;

  // margin-left: -70px;
  margin-right: -20px;
  font-weight: bold;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}


.profile-userbuttons  {
  text-align: center;
  margin-top: 10px;
  // text-transform: uppercase;
  font-size: 12px;
  padding: 6px 15px;
}


.profile-usermenu {
  margin-top: 15px;
  margin-left: 5px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 700;
  color: #4A0B0B ;

}

.thought-count{
  text-align: center;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
  color: #5b9bd1;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

// .navbar-nav > li > a, .navbar-brand {
//     padding-top:12px !important;
//     padding-bottom:0 !important;
//     // height: 28px;

// }
// .navbar {min-height:28px !important;}
// .navbar-nav .btn-sm {margin-top: 6px !important;}
// .navbar-nav .navbar-form {
//   margin-top: 6px !important;
//   height:50%;
//   }
.navbar-nav .form-control {
  margin-top: 5px !important;
  height: 31px;
  // height:50%;
}
.navbar-nav .input-group-btn button {
  height: 31px;}
  nav#header{
    height: 15px;

  }
  .search-type{
    margin: 5px 5px 0 5px;
  }
  .following_user_list{
    // margin-left: -30px;
    padding: 0;
  // margin-left: -70px;
  margin-right: -20px;
  background-image:  url(asset-path("side.jpg"));
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .move_list{
    margin-left: -40px;
    margin-top: 5px;
    // padding: 5px 0 10px 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  li{
    list-style: none;
    padding: 2px 0 2px 0;
    span{
      overflow: hidden;
      display: inline-block;
      a{
        font-size: 15px;
        color: #15361E;
      }
    }
  }
  font-size: 10px;

}
