// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// main page
.main-body{
  background-color: #ebeef4;
  margin-top: -58px ;
  // padding-top: -35px;
}
#main-text {
  margin-top: -40px;
  margin-left: -5 0px;
}
#main-page {
  // margin-left: -20px;
  // width: 113%;
  // margin-bottom: 50px;
  // height: 20%;
}

.signup-form .jumbotron {
  background-color: #D4F0D1;
}
.signup-text{
  margin-top: -30px;
}
/* forms */

.submit-button {
  margin-top: 10px;
}
// login home
.login-home{
  margin-top: -10px;
}
/* Profile container */
.profile {
  margin: 40px 0 ;
  // background: #CDDAE2;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 10px 10px 0;
  background: #fff;
  // margin-left: -70px;
  margin-right: -20px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:12px !important;
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}
.navbar-nav .btn-sm {margin-top: 6px !important;}
.navbar-nav .navbar-form {
  margin-top: 6px !important;
  height:50%;
  }
.navbar-nav .form-control {
  // margin-top: 4px !important;
  height: 30px;
  // height:50%;
  }
.navbar-nav .input-group-btn button {
height: 30px;}
nav#header{
height: 15px;

}
