@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.thought-feed{
  margin-left: 10px;
  margin-right: 20px;
  // padding-right: 20px;
  ol {
    list-style: none;
  }
  // padding-right: -50px;
  // background-color: blue;
}

.new_thought, .edit_thought {
  padding: 0 10px 10px 10px;
  position: fixed;
  width:29%;
  // margin-left: 20px;
  overflow: auto;
  border-style: groove;
    background-image:  url("side.jpg");

}
.home-feed > .well{
  background-color: #fff;
  margin-right: -30px;
}
#thought_content{
  height: 400px;
}
.thought-list{
  margin: -8px -12px 0 -12px;
}
.thought-content{
  font-family: Serif;
  // line-height: 135%;
  font-size: 112%;
// letter-spacing: 0.5px;
background-color: #fff;
padding: 10px;
margin: 0 -4px 0 -4px;
}
.thought-title{
  font-family: Tahoma, Geneva, sans-serif ;
  font-size: 125%;
  margin-top: -10px;
  padding-bottom: 2px;
  // margin-left: -4px;
  color: #1A2F1C;
  border-bottom: 1px solid #eaeaea;
}
.thought-options{
  margin: 0 0 -20px 0 ;
}
.thought-respond{
  // padding-right: 5px;
  margin-left: -15px;
  // margin-rig: -5px;
  // margin: 2px 0 -25px 0 ;
}
.posted-time{
  float: right ;
  margin-top: 7px;
}
.bootstrap-tagsinput{
  margin-bottom: -60px;
  padding-bottom: -20px;
  width: 250%;
  height: 30px;
  // height: 30px;
}
.thought-button{
  margin-top: -10px;
}
.category{
  float: right;
  // padding: 0;
  height: 10px;
  font-size: 13px;
  margin-top: -1px;

}
.label-info{
  // margin-bottom: 24px;
}
.feed-title{
  margin-top: -10px;
  padding-bottom: 6px;
  font-size: 160%;
  font-weight: 500;
  margin: -20px 0 0 0;
  color: #CA4040;
  // background-color: #D4F0D1;
      // text-decoration: underline;
  // padding-bottom: 0;
  text-align: center;
}
.by-user{
  visibility: hidden;
}
.added-thoughts{
  margin-top: -8px;
  li{
    margin-top: -15px ;
    margin-left: -25px;
    button{
      visibility: hidden;
    }
    .by-user{
      visibility: visible;
    }
  }
}
