// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-user{
  margin-top: 20px;
}

.user_about{
  font-style: italic;
  color: green;
  font-size: 14px;
}
.user_list_item {
  margin: 10px;
  span{
    display: inline-block;
    padding-left: 3px;
  }
  .user_name{
    font-size: 16px;
    padding-left: 5px;
    vertical-align: top;
  }
}
