<footer class="footer">
<section class="footer-bg">
  <small>
     QuickThoughts by
    <a href="https://in.linkedin.com/pub/rajeev-ramakrishnan/6a/547/312">Rajeev Ramakrishnan</a>
  </small>

  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path%></li>
      <li><a href="https://www.facebook.com/rajeevriitm" target="_blank">Facebook</a></li>
    </ul>
  </nav>
  </section>
</footer>
