<footer class="footer">
<section class="footer-bg">
  <small>
     <a href="http://www.railstutorial.org/">QuickThoughts</a> by
    <a href="http://www.michaelhartl.com/">Rajeev Ramakrishnan</a>
  </small>

  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path%></li>
      <li><a href="https://www.facebook.com/rajeevriitm" target="_blank">Facebook</a></li>
    </ul>
  </nav>
  </section>
</footer>
