<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container-fluid" id="header">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>
  <div id="logo">
      <%= link_to("QuickThoughts", root_path , class: "navbar-brand") %>
  </div>
</div>
<% if logged_in? %>
    <%= render 'layouts/logged_in_header' %>
<% else %>
    <%= render 'layouts/nonlogged_in_header' %>
<% end  %>
</div>

</nav>
